.report { }
.report .b { font-weight:bold; }
.report .hot { font-weight:bold; color:#d00; }
.report .i { font-style:italic; font-family:Georgia; }

.report table { border-collapse:collapse; font-size:14px; }
.report table thead td { border:1px solid #ccc; padding:10px; background:#f1f1f1; vertical-align:bottom; }
.report table tbody td { border:1px solid #ccc; padding:10px; background:#fff;    vertical-align:top; }

.report table tbody tr:first-child td { border:1px solid #ccc; padding:10px; background:#b3b8e0; font-weight:bold; }
